sudo: required
services:
- docker
language: bash
script:
# prepare qemu
- docker run --rm --privileged multiarch/qemu-user-static:register --reset
# build image
- docker build -t bagus212/mongo .
# test image
- docker run bagus212/mongo mongo --version
# push image
- >
  if [ "$TRAVIS_BRANCH" == "master" ] && [ "$TRAVIS_PULL_REQUEST" == "false" ]; then
    docker login -u="bagus212" -p="nokiasamsung"
    TAG=3.4
    docker tag bagus212/mongo bagus212/mongo:$TAG
    docker push bagus212/mongo:$TAG
    docker push bagus212/mongo
  fi
